.comments .relative {
  position: relative !important;
}
.comments .inline-block {
  display: inline-block !important;
}
.comments .block {
  display: block !important;
}
.comments .comments-timeline {
  font-size: 15px;
}
.comments .comments-timeline .pad-lr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.comments .comments-timeline .pad-12 {
  padding: 12px;
}
.comments .comments-timeline .blob.date,
.comments .comments-timeline .blob.time {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
}
.comments .comments-timeline .blob {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.comments .comments-timeline .blob.blob2 {
  width: 70px;
}
.comments .comments-timeline .blob.date,
.comments .comments-timeline .blob.time {
  font-size: 13px;
}
.comments .comments-timeline .fwb {
  font-weight: 700;
}
.comments .comments-timeline .comment-header {
  min-height: 16px;
}
.comments .comments-timeline .comment-icon {
  font-family: 'Foot Nation';
  font-size: 30px;
  font-weight: normal;
}
.comments .comments-timeline .comment-type-icon {
  border-radius: 50%;
  background-color: #E3EBF2;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.comments .comments-timeline .image-icon:before {
  content: "c";
}
.comments .comments-timeline .video-icon:before {
  content: "d";
}
.comments .comments-timeline .text-icon:before {
  content: "w";
}
.comments .comments-timeline .attempt-icon:before {
  content: "j";
}
.comments .comments-timeline .replacement-icon:before {
  content: "u";
}
.comments .comments-timeline .goal-icon:before {
  content: "l";
}
.comments .comments-timeline .top_catch-icon:before {
  content: "k";
}
.comments .comments-timeline .yellow-icon:before {
  content: "e";
  color: yellow;
}
.comments .comments-timeline .red-icon:before {
  content: "e";
  color: red;
}
.comments .comments-timeline .goal-type-icon {
  font-family: 'Foot Nation';
  font-size: 22px;
  font-weight: normal;
}
.comments .comments-timeline .goal-lf-icon:before {
  content: "r";
}
.comments .comments-timeline .goal-rf-icon:before {
  content: "s";
}
.comments .comments-timeline .goal-hg-icon:before {
  content: "m";
}
.comments .comments-timeline .goal-bg-icon:before {
  content: "b";
}
.comments .comments-timeline .goal-distance:before {
  font-family: 'Foot Nation';
  font-size: 22px;
  font-weight: normal;
  content: "x";
}
.comments .comments-timeline .goal-passer-player:before {
  font-family: 'Foot Nation';
  font-size: 22px;
  font-weight: normal;
  content: "a";
}
.comments .comments-timeline .replacement-replaced-player:before {
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  color: red;
  content: "\f0a9";
  vertical-align: top;
}
.comments .comments-timeline a.button {
  font-family: FontAwesome;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  float: right;
  margin-left: 10px;
}
.comments .comments-timeline a.button span.iconEdit:before {
  content: "\f044";
}
.comments .comments-timeline a.button span.iconDelete:before {
  content: "\f00d";
}
.comments .comments-timeline a.button span.match {
  color: #52bad5;
  font-weight: bold;
}
.comments .comments-timeline .linear-list {
  display: block;
  height: 1px;
  border: 0px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.comments .comments-timeline .comment-player {
  line-height: 32px;
}
.comments .comments-timeline .comment-player .comment-player-name {
  vertical-align: top;
}
.comments .comments-timeline .comment-content {
  vertical-align: middle;
  border: 2px solid #e0e0e0;
  padding: 18px;
  border-radius: 6px;
  background-color: #fff;
  width: 66.66666666666667%;
}
.comments .comments-timeline .comment-content .comment-player .comment-player-icon {
  border-radius: 6px;
  margin-right: 20px;
}
.comments .comments-timeline .comment-header:before {
  background-image: url(/img/arrow-left16x16.png);
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 2px 0;
}
.comments .comments-timeline:before {
  content: '';
  position: absolute;
  top: 72px;
  bottom: 108px;
  width: 2px;
  background: #e0e0e0;
  left: 125px;
}
