<IfModule mod_rewrite.c>
   RewriteEngine on
   #RewriteCond %{REQUEST_URI} !^(css|javascript|images)
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff
